{% extends 'base.html' %}



{% block content %}
	<body style="background-image:
	url('https://i.dailymail.co.uk/i/newpix/2018/09/11/01/04D96A5A000003E8-0-image-a-28_1536626004161.jpg');
	background-size: 100% ">

	<h1 style="padding-top: 5%; padding-left: 9%; font-family: Bauhaus; color: white; opacity: 75%"> Active Contests </h1>
	{% for object in object_list %}
		<div style="padding-top: 1%; padding-left: 1%">
				<div class=" mx-auto btn-group-vertical" style="width:500px;" >
					<a type="button" class="btn btn_contest btn-lg"
					   style="font-family: Brush Script MT; color: black; font-size: 30px;"
					   href='{{ object.get_absolute_url }}'>
						{{object.title}}
					</a>
				</div>
		</div>
	{% endfor %}
	</body>
{% endblock %}
