{% extends 'base.html' %}



{% block content %}
<a type="button" class="btn btn9 btn-lg" style="color: black;" href='{{ request.META.HTTP_REFERER }}'>Back to Team List</a>
	{% for object in object_list %}
		<div class="container h-100" style="padding-top: 1%;">
			<div class="d-flex h-100">
				<div class="align-self-center mx-auto btn-group-vertical" style="width:800px;" align="left">
					<!-- Change back to get_absolute_url -->
					<a type="button" class="btn btn8 btn-lg" style="font-family: Candara; color: black; text-opacity: 100%"  href='{{ object.get_absolute_url }}'>
						{{object.number}} </a>
				</div>
			</div>
		</div>

	{% endfor %}


{% endblock %}